<!DOCTYPE html>
<html>
    <head xmlns:th="http://www.thymeleaft.org">
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/styles.css}"/>
    </head>
    <body>

        <div class="hero">
        
            <div class="fila flex-center">
                <h1 class="titulo-inicio m-t">Inicio</h1>
            </div>
            
            <div class="fila flex-center">                
                <div class="caja-inicio flex-column-center enlaces-inicio">
                    <a th:href="@{/pantalla-importar-vinos}">Importar Actualizaciones</a>
                    <a th:href="@{/usuarios}">Usuarios</a>
                    <a th:href="@{/#}">Vino</a>
                    <a th:href="@{/#}">Bodega</a>
                    <a th:href="@{/#}">Enofilo</a>
                    <a th:href="@{/#}">Maridaje</a>
                    <a th:href="@{/#}">TipoUva</a>
                    <a th:href="@{/#}">Varietal</a>
                    
                </div>
            </div>        
        </div>
            
        </div>
    </body>
</html>#