<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Usuarios</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<header>
    <nav>
        <nav>
            <a th:href="@{/}">Inicio</a>
            <a th:href="@{/pantalla-importar-vinos}" class="activo">Importar</a>
            <a th:href="@{/usuarios}">Usuarios</a>
            <a th:href="@{/vinos}">Vino</a>
            <a th:href="@{/bodegas}">Bodega</a>
            <a th:href="@{/enofilos}">Enofilo</a>
            <a th:href="@{/maridajes}">Maridaje</a>
            <a th:href="@{/tipo-uvas}">TipoUva</a>
            <a th:href="@{/varietal}">Varietal</a>
            <a th:href="@{/siguiendo}">Siguiendo</a>
        </nav>
    </nav>
</header>

<div class="hero">
    <div class="fila flex-center">
        <h2>Sistema BonVino - Importar Actualizaciones Vino de Bodega CU - 5</h2>
    </div>

    <div class="fila flex-center">
        <a th:href="@{/pantalla-importar-vinos/importar}" class="btn-agregar">Importar</a>
    </div>

    <div class="fila flex-column-center">
        <div class="caja-barra-busqueda">
            <form class="flex-center" role="search" th:action="@{/pantalla-importar-vinos/seleccionar-bodega}" method="get">
                <div>
                    <select name="bodegaId" aria-label="Default select example">
                        <option selected value=":-1">Bodegas</option>
                        <option th:each="bodega : ${bodegas}" th:value="${bodega.id}" th:text="${bodega.nombre}"></option>
                    </select>
                </div>
                <div class="flex-center">
                    <input type="submit" class="btn-agregar m-l" value="Seleccionar" />
                </div>
            </form>            
        </div>
    </div>

    <div class="fila flex-center">
        <div class="caja-tablas">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Añada</th>
                    <th>Precio</th>
                    <th>NotaDeCata</th>
                    <th>Varietal</th>
                    <th>Maridaje</th>
                    <th>FechaActualizacion</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="vino : ${vinos}">
                    <td th:text="${vino.id}">ID</td>
                    <td th:text="${vino.nombre}">Nombre</td>
                    <td th:text="${vino.aniada}">Añada</td>
                    <td th:text="${vino.precio}">Precio</td>
                    <td th:text="${vino.notaDeCataBodega}">NotaDeCata</td>
                    <td th:text="${vino.varietal.descripcion}">Varietal</td>
                    <td th:text="${vino.maridaje.nombre}">Maridaje</td>
                    <td th:text="${vino.fechaActualizacion}">FechaActualizacion</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>