<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vinos</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
    <header>
        <nav>
            <a th:href="@{/}">Inicio</a>
            <a th:href="@{/pantalla-importar-vinos}">Importar</a>
            <a th:href="@{/usuarios}">Usuarios</a>
            <a th:href="@{/vinos}" class="activo">Vino</a>
            <a th:href="@{/bodegas}">Bodega</a>
            <a th:href="@{/enofilos}">Enofilo</a>
            <a th:href="@{/maridajes}">Maridaje</a>
            <a th:href="@{/tipo-uvas}">Tipos de Uva</a>
            <a th:href="@{/varietal}">Varietal</a>
            <a th:href="@{/siguiendo}">Siguiendo</a>
        </nav>
    </header>

<div class="hero">
    <div class="fila flex-center">
        <h2>Listado de Vinos</h2>
    </div>

    <div class="fila flex-center">
        <a th:href="@{/vinos/nuevo}" class="btn-agregar">Agregar Vino</a>
    </div>

    <div class="fila flex-center">
        <div class="caja-tablas">
            <table>
                <thead>
                    <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Añada</th>
                    <th>Precio</th>
                    <th>NotaDeCata</th>
                    <th>Varietal</th>
                    <th>Maridaje</th>
                    <th>FechaActualizacion</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="vino : ${vinos}">
                    <td th:text="${vino.id}">ID</td>
                    <td th:text="${vino.nombre}">Nombre</td>
                    <td th:text="${vino.aniada}">Añada</td>
                    <td th:text="${vino.precio}">Precio</td>
                    <td th:text="${vino.notaDeCataBodega}">NotaDeCata</td>
                    <td th:text="${vino.varietal.descripcion}">Varietal</td>
                    <td th:text="${vino.maridaje.nombre}">Maridaje</td>
                    <td th:text="${vino.fechaActualizacion}">FechaActualizacion</td>
                    <td>
                        <a th:href="@{/vinos/editar/{id}(id=${vino.id})}" class="btn-editar">Editar</a>
                        <a th:href="@{/vinos/eliminar/{id}(id=${vino.id})}" class="btn-eliminar">Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
